<a href={{ product.url }}>
  <!-- <section  class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card"> -->
  <section  class="product-card">
    <!-- <div> -->
      <div class="reveal product-card__imageDiv">
        <img src="{{ product.images[0] | img_url: '450x450', crop: "center" }}" alt="{{ product.image.alt | escape }}">
        <img class="hidden" src="{{ product.images[1] | img_url: '450x450', crop: "center"  }}" alt="{{ product.images.last.alt | escape }}" />
        
        {% if product.available == false %}
           <span class="product-card__imageDiv--soldOut">Sold out</span> 
        {% endif %}

        {% if product.available == false %}
           <span class="product-card__imageDiv--soldOut">Sold out</span> 
        {% endif %}

        {% if product.price != product.compare_at_price and product.compare_at_price > 0  %}
          <span class="product-card__imageDiv--sale">{{ 'products.product.on_sale' | t }}</span>
        {% endif %}


      </div>
      <div class="product-card__textDetailsDiv">
        <p class="product-card__title" aria-hidden="true"> {{ product.title }} </p>
        {% if product.vendor  != "none" %}<p class="product-card__subTitle"> {{ product.vendor }} </p>{% else %} <p class="product-card__subTitle"></p> {% endif %} 
        {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
      </div>
    <!-- </div> -->
  </section>
</a>
