<section class="account-page">
  <section class="account-page__card">

  <div class="section-header text-center ">
    <h1>Hi, {{ customer.first_name }}</h1>
    <a href="/" class="account-page__closeButton" style="color: black">
            {% include 'icon-close' %}
    </a>
  </div>



  <div class="grid myaccount">
    <!-- <div class="grid__item myaccount__order-history"> -->
    <div class=" myaccount__order-history">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}

          <table class="responsive-table">
            <thead>
              <tr>
                <th scope="col">{{ 'customer.orders.order_number' | t }}</th>
                <th scope="col">{{ 'customer.orders.date' | t }}</th>
                <th scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th scope="col">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row">
                    <a href="{{ order.customer_url }}" class="btn btn--secondary btn--small" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a>
                  </th>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

        {% endif %}
        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <!-- <div class="grid__item myaccount__account-details"> -->
    <div class="myaccount__account-details">

    


      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>
  </div>
  <div class="account-page__logoutDiv">

    <a href="/account/logout" id="customer_logout_link" class="clearButton account-page--addAddress">Log out</a>
  </div>

  </section>

</section>




<style>
  .account-page{
    /* display: flex;
    justify-content: center; */
  }

  .account-page__card{
    max-width: 1040px;
    margin: 32px auto;
    padding: 16px;
    position: relative;
  }

  .account-page:first-child{
    /* padding: 125px 32px 0 32px; */
  }

 .account-page .grid{
    margin-left: 0;
  }


  .myaccount__account-details{
    margin-left: auto;
  }

  @media (max-width: 750px){
    .myaccount__account-details{
    width: 100%;
    margin: 32px 0 0 0;
    }
  }

  .account-page__closeButton{
    position: absolute;
    right: 16px;
    top: 16px;
  }

  /* .account-page .grid__item{
    padding-left: 0;
  } */

  .account-page h1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-align: left;
  }

  .account-page h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 32px;
  }

  .account-page h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .account-page img {
    /* margin-top: 120px;
    margin-bottom: 144px; */
    /* width: unset; */
  }

  .account-page p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  .account-page label {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
  }

  .account-page--addAddress {
    margin-top: 64px;
    display: inline-block;
  }
/* 
  .account-page a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #008554;
  } */

  .account-page > ul{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: 32px;
    padding-top: 64px;

  }

  .account-page >ul > li{
   width: 100%;    
   border-bottom: 1px solid rgb(184, 184, 184);
   padding-bottom: 16px;
  }

  .account-page__editAddressSection{
    margin-top: 32px;
  }

.account-page__logoutDiv{
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

  @media (min-width: 750px){
    .account-page .medium-up--one-half:first-child {
      padding-right: 16px;
    }
  }

  @media only screen and (max-width: 749px) {
    .account-page__hero{
      height: 375px;
    } 

    .account-page {
      /* padding: 60px 16px 60px 16px; */
    }

    .account-page h1 {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }

    /* .account-page:last-child {
      padding-bottom: 120px;
    } */

    .account-page--addAddress {
      margin-top: 64px;
      width: 100%;
      display: inline-block;
    }

    .account-page tr {
     border-bottom: 1px solid #757575;
    }

  }


  
</style>