
<section class="addresses-page ">

  <a href="/account" class="login-page__closeButton" style="color: black">
            {% include 'icon-close' %}
  </a>
    <h1>{{ 'customer.addresses.title' | t }}</h1>
    <!-- <p><a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a></p> -->
   
    <ul>
      {% for address in customer.addresses %}
        <li>
          <div class=" text-left">
            {% if address == customer.default_address %}
              <strong>{{ 'customer.addresses.default' | t }}</strong>
            {% endif %}

            {{ address | format_address }}

            <ul class="list--inline">
              <li>
                <button
                  id="EditFormButton_{{ address.id }}"
                  type="button"
                  class="btn btn--small address-edit-toggle"
                  data-form-id="{{ address.id }}"
                  aria-owns="EditAddress_{{ address.id }}"
                  aria-expanded="false"
                >
                  {{ 'customer.addresses.edit' | t }}
                </button>
              </li>
              <li>
                <button
                  type="button"
                  class="btn btn--secondary btn--small address-delete"
                  data-target="{{ address.url }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                >
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </li>
            </ul>
          </div>


          <!-- EDIT ADDRESS MODAL FORM -->
          <div id="EditAddress_{{ address.id }}" class="form-vertical hide addresses-page__editAddressSection">
            {% form 'customer_address', address %}

              <h2>{{ 'customer.addresses.edit_address' | t }}</h2>

              <div class="">
                <div class="grid__item medium-up--one-half">
                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                </div>

                <div class="grid__item medium-up--one-half">
                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                </div>
              </div>

              <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">

              <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">

              <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">

              <div class="">
                <div class="grid__item medium-up--one-half">
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                  <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                </div>
              </div>

              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
              </div>

              <div class="">
                <div class="grid__item">
                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                </div>

                <div class="grid__item">
                  <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                </div>
              </div>

              <div class="text-center">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>

                <div><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></div>
                <div><button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button></div>
              </div>

            {% endform %}
            <!-- <hr> -->
          </div>
        </li>
      {% endfor %}
    </ul>
   
   
    <p>
      <button type="button" class=" address-new-toggle greenButton addresses-page--addAddress" id="AddressNewButton" aria-expanded="false" aria-owns="AddressNewForm">{{ 'customer.addresses.add_new' | t }}</button>
    </p>
</section>

<section class="addresses-page ">

  <!-- FOR TO ADD A NEW ADDERSS.  HIDDEN BY DEFAULT -->
    <div id="AddressNewForm" class="form-vertical hide">
      {% form 'customer_address', customer.new_address %}
        <h2>{{ 'customer.addresses.add_new' | t }}</h2>

        <div class="">
          <div class="grid__item medium-up--one-half">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
          </div>

          <div class="grid__item medium-up--one-half">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
          </div>
        </div>

        <div class="">
          <div class="grid__item">
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">

            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">

            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
          </div>
        </div>

        <div class="">
          <div class="grid__item medium-up--one-half">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
          </div>

          <div class="grid__item medium-up--one-half">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
          </div>
        </div>

        <div id="AddressProvinceContainerNew" style="display:none">
          <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
          <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
        </div>

        <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
        <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">

        <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
        <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">

        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>

        <div><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></div>
        <div><button type="button" class="text-link address-new-toggle addresses-page--addAddress">{{ 'customer.addresses.cancel' | t }}</button></div>

      {% endform %}
      <hr>
    </div>

    {% comment %}
      List all customer addresses with a unique edit form.
      Also add pagination in case they have a large number of addresses
    {% endcomment %}
    
</section>


<style>
  .addresses-page{
    max-width: 1040px;
    padding: 125px 32px 125px 32px;
    margin: auto;
    position: relative;
  }

  .addresses-page:first-child{
    padding: 125px 32px 0 32px;
  }

  .addresses-page .grid__item{
    padding-left: 0;
  }

  .addresses-page h1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
  }

  .addresses-page h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 32px;
  }

  .addresses-page h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .addresses-page img {
    /* margin-top: 120px;
    margin-bottom: 144px; */
    /* width: unset; */
  }

  .addresses-page p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  .addresses-page label {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
  }

  .addresses-page--addAddress {
    margin-top: 64px;
    display: inline-block;
  }

  .addresses-page a {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #008554;
  }

  .addresses-page strong {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* text-decoration-line: underline; */
    color: #008554;
  }

  .addresses-page > ul{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    gap: 32px;
    padding-top: 64px;

  }

  .addresses-page >ul > li{
   width: 100%;    
   border-bottom: 1px solid rgb(184, 184, 184);
   padding-bottom: 16px;
  }

  .addresses-page__editAddressSection{
    margin-top: 32px;
  }

  @media (min-width: 750px){
    .addresses-page .medium-up--one-half:first-child {
      padding-right: 16px;
    }
  }

  @media only screen and (max-width: 749px) {
  .addresses-page__hero{
    height: 375px;
  } 

    .addresses-page {
      padding: 60px 16px 60px 16px;
    }

    .addresses-page h1 {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
    }

    .addresses-page:last-child {
      padding-bottom: 120px;
    }

    .addresses-page--addAddress {
      margin-top: 64px;
      width: 100%;
      display: inline-block;
    }
  }


  
</style>
