<section class="signinPage">
  <!-- <a href="/" class="login-page__backButton">
    {% include 'icon-chevron-left' %}
  </a> -->

  <section class="signinPage__card">
    {% form 'customer_login', novalidate: 'novalidate' %}

      <a href="/" class="login-page__closeButton"> {% include 'icon-close' %} </a>

        <div class="signinPage__card--image">
          {{ 'axis-ySimpleLogoAv1.svg' | asset_url  | img_tag: 'AXIS-Y Logo' }}
        </div>

        <h1 id="LoginHeading">{{ "customer.login.title" | t }}</h1>

        <!-- <div
            class="form-message form-message--success hide"
            id="ResetSuccess"
            tabindex="-1"
          >
            {{ "customer.recover_password.success" | t }}
          </div> -->

        <!-- MESSAGE ERRORS -->
        {%- if form.errors -%}
        <section class="form-message form-message--error">
          <p  tabindex="-1" data-form-status>
            {{ "contact.form.error_heading" | t }}
          </p>
          {{ form.errors | default_errors }}
        </section>
        {%- endif -%}

        <input type="email" name="customer[email]" id="CustomerEmail" placeholder="Email *"
        autocomplete="email" autocorrect="off" autocapitalize="off" {%- if form.errors
        contains 'form' -%} class="input--error" aria-invalid="true" {%- endif -%} >

        <input type="password" value="" name="customer[password]" placeholder="Password *"
        id="CustomerPassword" {%- if form.errors contains 'form' -%}
        class="input--error" aria-invalid="true" {%- endif -%} >

        <!-- FORGOT PASSWORD BUTTONS -->
        <div>
          <p>
            <a href="#recover" id="RecoverPassword">{{
              "customer.login.forgot_password" | t
            }}</a>
          </p>
          <button type="submit" class="login-page__loginButton">
            {{ "customer.login.sign_in" | t }}
          </button>
        </div>


      <!-- CREATE ACCOUNT SECTION -->
        <!-- <label> -->
          <a href="/account/register">Create an account</a>
          <!-- <label>
            Creating an account saves your details for faster checkout and earns you
            reward points for discounts on future purchases.
          </label> -->
          <!-- <p class="login-page__createAccount--button">
            {{ "layout.customer.create_account" | t | customer_register_link }}
          </p> -->
        <!-- </label> -->

       
    {% endform %}
  </section>



  <!-- RECOVER PASSWORD MODAL -->
  <section
    id="RecoverPasswordForm"
    class="hide login-page__passwordRecoverSection"
  >
    <div class="signinPage__card">
      <a
        href="#LoginHeading"
        id="HideRecoverPasswordLink"
        class="login-page__closeButton"
      >
        {% include 'icon-close' %}
      </a>
      <!-- <a href="#LoginHeading" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a> -->

        
        <!-- <label>{{ "customer.recover_password.subtext" | t }}</label> -->

      <!-- <div class="text-center">
        <h1 id="RecoverHeading">{{ "customer.recover_password.title" | t }}</h1>
        <p>{{ "customer.recover_password.subtext" | t }}</p>
      </div> -->

      <div class="form-vertical">
        {% form 'recover_customer_password' %} 
  
        {% if
        form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
        {% endif %}

        <div class="signinPage__card--image">
          {{ 'axis-ySimpleLogoAv1.svg' | asset_url  | img_tag: 'AXIS-Y Logo' }}
        </div>

        <h1 >{{ "customer.recover_password.title" | t }}</h1>

        <!-- <label for="RecoverEmail">{{
          "customer.recover_password.email" | t
        }}</label> -->
        <input
          type="email"
          placeholder="Email *"
          value=""
          name="email"
          id="RecoverEmail"
          class="input-full{% if form.errors %} input--error{% endif %}"
          autocorrect="off"
          autocapitalize="off"
          {%
          if
          form.errors
          %}
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          {%-
          endif
          -%}
        />
        {%- if form.errors -%}
        <span id="RecoverEmail-email-error" class="input-error-message">
          <span class="visually-hidden"
            >{{ "general.accessibility.error" | t }}
          </span>
          {% include 'icon-error' %}
          <span>{{ form.errors.messages["form"] }}</span>
        </span>
        {%- endif -%}

        <!-- <input type="hidden" name="return_to" value="back" /> -->

        <!-- <div class="text-center"> -->
          <button type="submit" class="">
            {{ "customer.recover_password.submit" | t }}
          </button>
    
        <!-- </div> -->
        {% endform %}
      </div>
    </div>
  </section>

  <!-- GUEST LOGIN -->
  {% if shop.checkout.guest_login %}
  <div class="login-page__guestLoginSection">
    <hr class="hr--invisible" />
    <h1>{{ "customer.login.guest_title" | t }}</h2>

    {% form 'guest_login' %}
    <input
      type="submit"
      class="clearButton"
      value="{{ 'customer.login.guest_continue' | t }}"
      
    />
    {% endform %}
  </div>
  {% endif %}
</section>

<style>
  .login-page__guestLoginSection{
    padding-top: 64px;
  }
</style>

