<section class="col_list-image">

  <ul>
    <li>Vegan</li>
    <li>No parabens</li>
    <li>Cruelty-free</li>
    <li>No artificial colours</li>
    <li>No artificial fragrances</li>
    <button href="{{ section.settings.button_link }}"
      class="clearButton"
      aria-label="{{ ariaLabel }}">
      {{- section.settings.button_label | escape -}}
    </button>
  </ul>

  <div>
    <img src="{{section.settings.image | img_url: "556x720"}}" alt="{{section.secttings.image.alt | escape}}">
    <div class="col_list-image--legalBadge">
      {{ 'legalWarningbadge.svg' | asset_url | img_tag: 'legal warning badge' }}
    </div>
  </div>
</section>


{% schema %}
{
  "name": {
    "en": "2col_list-image"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select image"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "See our products"
    },    
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ]
}

{% endschema %}
