
<section class="codev-page__contributors">
    <h2>{{ section.settings.title}}</h2>
    <div class="codev-page__contributors--items">
      {% for block in section.blocks %}  
        <div class="codev-page__contributors--item" id="{{ block.settings.name }}" for="contributor-{{ block.settings.name }}"> 
          <img src="{{ block.settings.image | img_url: "180x"}}" alt="{{ block.settings.image.alt }}">  
          <div class="codev-page__contributors--socialIcons">
            <h3>{{ block.settings.name }}</h3>
            <a href="https://www.instagram.com/{{ block.settings.social1Url }}/" target="_blank">{% include 'icon-instagram' %}</a>
          </div>
          <p >{{ block.settings.location }}</p>
          <p class="codev-page__contributors--item--story">{{ block.settings.description }}</p>
          
          <input class="clearButton" readonly type="text" value="{{ block.settings.code }}" id="{{ block.settings.code }}">
        </div>
      {% endfor %}
    </div>
</section>


<style>

/* CONTRIBUTORS SECTION */
  .codev-page__contributors {
    max-width: 1440px;
    margin: auto;
    padding: 0 80px;
    margin-bottom: 160px;
  }

  .codev-page__contributors > h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
  }

  .codev-page__contributors--items {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: space-between;
    position: relative;
  }

  .codev-page__contributors--item {
    flex-grow: 1;
    max-width: 224px; 
    display: flex;
    flex-direction: column;
  }

  .codev-page__contributors--item input {
    min-width: unset !important;
    margin-top: auto;
    justify-content: flex-end;
  }


  .codev-page__contributors--item:last-child {
    margin-right: 0px;
  }

  .codev-page__contributors--item h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .codev-page__contributors--item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }


  @media (max-width: 749px) {
    .codev-page__contributors {
      padding: 0 16px;
      margin-bottom: 80px;
    }

    .codev-page__contributors > h2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 24px;
    }

    .codev-page__contributors--items {
      position: relative;
      justify-content: space-around;
      gap: 16px;
      row-gap: 32px;;
    }

    .codev-page__contributors--item {
      width: calc(50% - 16px);
    }

    .codev-page__contributors--item--story{
      color: #757575;
      font-weight: 300;
      font-size: 16px !important;
      line-height: 24px;
      margin-top: 8px !important;
      margin-bottom: 8px !important;
    }
  }

  .codev-page__contributors--item--story{
    color: #757575;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }

  .codev-page__contributors--socialIcons{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }


  .codev-page__contributors--item input{
    color: #757575;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

  }
</style>


{% schema %}
{
  "name": "Contributors",
	"max_blocks": 100,
  "settings": [ 
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Our community contributors"
      }
  ],
  "blocks": [
    {
      "type": "Contributor",
      "name": "Add contributor",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
       		"label": "select image"
        },
        {
          "id": "name",
          "type": "text",
          "label": "Name",
          "default": "Name"
        },
        {
          "id": "location",
          "type": "text",
          "label": "Location",
          "default": "None"
        },
        {
          "id": "description",
          "type": "text",
          "label": "Description",
          "default": "Description"
        },
        {
          "id": "social1Url",
          "type": "text",
          "label": "instagram tag (no @)"
        },
        {
          "id": "code",
          "type": "text",
          "label": "Affiliate code"
        }      
      ]
    }
  ]
}
{% endschema %}
