<section class="about-page__hero">
  <img class="about-page__hero--image1" src="{{ section.settings.image1 | img_url: "1440x" }}" alt="hero image">
  <img class="about-page__hero--image2" src="{{ section.settings.image2 | img_url: "749x" }}" alt="hero image" >

  <div>
    <h1>{{ section.settings.title1 }}</h1>
    <h2> </h2>
    <!-- <a class="greenButton" href="{{ section.settings.button_link }}" >{{ section.settings.button_label }}</a> -->
  </div>
</section>


<style>
 .about-page__hero{
   width: 100%;
   height: 784px;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: flex-start;
   align-items: center;
 }

 .about-page__hero img{
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
 }

  .about-page__hero--image1{
    display: block;
  }

 .about-page__hero--image2{
   display: none;
 }

 .about-page__hero div {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  z-index: 1;
  padding: 48px;
 }

 .about-page__hero h1 {
  text-align: left;
  font-weight: 500;
  font-size: 80px;
  line-height: 96px;
  color: black;
 }

 .about-page__hero h2 {
   text-align: left;
  font-weight: 200;
  font-size: 80px;
  line-height: 96px;
  font-style: italic;
  font-family: restora;
  margin: 0;
  color: black;
  padding-bottom: 32px;
 }

 .about-page__hero h2:after {
    content:"Climate inspired";
    animation: spin 5s linear infinite;
  }

  @keyframes spin {
    25% { content:"Community focused"; }
    50% { content:"Self-care encouraged"; }
    75% { content:"Vegan & cruelty free"; }
  }

  @media (max-width: 749px) {
    .about-page__hero{
      height: 603px;
      justify-content: center;
      align-items: flex-start;
    }

    .about-page__hero div{
      margin: unset;
      padding: 16px;
    }

    .about-page__hero img{
      position: absolute;
      bottom: 0;
      right: 0;
      height: auto;
      width: 100%;
      min-height: unset;
     min-width: unset;
    }

    .about-page__hero--image1{
      display: none;
    }

    .about-page__hero--image2{
      display: block;
    }

    .about-page__hero h1 {
      margin-top: 45px;
      text-align: center;
      font-size: 48px;
      line-height: 48px;
    }

    .about-page__hero h2 {
      text-align: center;
      font-size: 48px;
      line-height: 48px;
    }

     .about-page__hero a {
      display: block;
    }
  }
</style>



{% schema %}
{
  "name": "about-page__hero",
  "class": "index-section",
  "settings": [
      { 
        "type": "text",
        "id": "title1",
        "label": "Title 1",
        "default": "We are"
      }, 
      {
      "type": "image_picker",
      "id": "image1",
      "label": "Image - Desktop"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image - Mobile"
    }
  ]
}
{% endschema %}