<!-- AXIS-Y STYLED TIMELINE FOR THE BOTTOM OF THE CO-DEVELOPMENT PAGE. 16 JULY 2021 -->

<div class="timelineSection">
  <h2>{{ section.settings.title}}</h2>
  <img class="timelineSection__imageDesktop" src="{{ section.settings.image1 | img_url:  "1440x" }}" alt="{{section.secttings.image.alt | escape}}">
  <img class="timelineSection__imageMobile" src="{{ section.settings.image2 | img_url:  "800x" }}" alt="{{section.secttings.image.alt | escape}}">
</div>

{% schema %}
{
  "name": {
    "en": "Timeline"
  },
  "class": "index-section",
  "settings": [
      { 
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What's next?"
      },
      {
      "type": "image_picker",
      "id": "image1",
      "label": "Timeline image - Desktop"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Timeline image - Mobile"
    }
  ]
}
{% endschema %}

