<section class="careers-page">

  <!-- <section class="codev-page__heroSection">
    <img src="{{ "codevHero.png" | asset_img_url: "1440x"}}" alt="Hero image" }}">
    <h1>Careers</h1>
  </section> -->

  {% section "hero-careers" %} 

  <section class="richTextSection">
    <h2>Join our team</h2>
    <p>AXIS-Y welcomes people of different backgrounds, experiences, abilities and perspectives. We look for people who are passionate about beauty, fashion and work to be a little better every single day. In our work together we aim to be smart, humble, hardworking and fun, above all, collaborative.</p>
    <br>

    <strong>How do we work? At AXIS-Y, we follow the simple rule: </strong>
    <p>Do the right thing.</p>
    <p>The right way.</p>
    <p>The right time.</p>
    <br>
    <p>We are committed to building a team that represents a variety of backgrounds, perspectives, and skills for the benefit of our employees, our mission, and the communities we serve.</p>

  
  </section>

  <section class="twoLargeImagesSection">
    <div class="twoLargeImagesSection--wrapper">
      <div class="twoLargeImagesSection--image">    
            <img src="{{ "codevHero.png" | asset_img_url: "700x"}}" alt="Hero image">
      </div>
      <p> 
        <label>Above</label>
        A photo of our team
      </p>
    </div>
    <div class="twoLargeImagesSection--wrapper">
      <div class="twoLargeImagesSection--image">    
            <img src="{{ "codevHero.png" | asset_img_url: "700x"}}" alt="Hero image">
      </div>
      <p> 
        <label>Above</label>
        A photo of our team
      </p>
    </div>
  </section>


  <section class="careers-page__valuesSection">
    <h2>Our values</h2>
    <ul>
      <li>
        <img  src="{{ "Career-Open-Mindedness.png" | asset_img_url: "80x" }}" alt="values icon" />
        <div>
          <h4>Open-mindedness</h4>
          <p>Listening, being open to others, and benefiting from differences are absolute priorities in order to respond to the infinite diversity of beauty aspirations around the world.</p>
        </div>
      </li>
      <li>
        <img  src="{{ "Career-Innovation.png" | asset_img_url: "80x" }}" alt="values icon" />
        <div>
          <h4>Innovation</h4>
          <p>We push the limits of knowledge by discovering new ways to create products that are truly different and surprising while constantly staying one step ahead.  At AXIS-Y, you’re encouraged to explore, innovate, and have fun while working with diverse clients, teams, and leaders.</p>
        </div>
      </li>
      <li>
        <img  src="{{ "Career-Respect.png" | asset_img_url: "80x" }}" alt="values icon"  />
        <div>
          <h4>Respect</h4>
          <p>At AXIS-Y, being respected and valued promotes a positive work culture where everyone is loyal, fulfilled, and motivated to perform at our best.</p>
        </div>
      </li>
      <li>
        <img  src="{{ "Career-Passion.png" | asset_img_url: "80x" }}" alt="values icon" />
        <div>
          <h4>Passion</h4>
          <p>Our team is passionate about what cosmetics can bring to the customer: well-being, self-confidence, and self-care. We hire for attitude as well as skill--passion is intrinsically linked to humanity and culture.</p>
        </div>
      </li>
      <li>
        <img  src="{{ "Career-Diversity.png" | asset_img_url: "80x" }}" alt="values icon" />
        <div>
          <h4>Diversity & Inclusion</h4>
          <p>Our culture influences the way in which we see the world. We are committed to fostering a diverse and inclusive work environment. We embrace and cultivate respect, trust, open communication and diversity of thought and people.</p>
        </div>
      </li>
      <li>
        <img  src="{{ "Career-Etiquette.png" | asset_img_url: "80x" }}" alt="values icon" />
        <div>
          <h4>Etiquette</h4>
          <p>To us, etiquette is not about rules & regulations but providing basic social comfort and creating an environment where others feel comfortable and secure.</p>
        </div>
      </li>
    </ul>
  </section>
  
  <section class="career-page__specialNestedHeading">
    <h3>Although we are a small organization, we have an awesome benefits program because we know the
      <h4>success of the company is dependent on the success of our people.</h4>
    </h3>
  </section>
  <section class="richTextSection">
    <p>At AXIS-Y, we want you to be well and thrive. Our global benefits package includes:</p>
    <br/>
    <p>Healthcare Coverage (4 Insurance)</p>
    <p>Retirement Plans</p>
    <p>Paid Time Off & Festival Bonus for Seollal and Chuseok</p>
    <p>Long Term Employee Incentive Plans</p>
    <p>Employee Stock Purchase Program</p>
    <p>Wellness perks</p>
    <p>Learning and Development resources</p>
    <p>Performance Incentive program</p>
    <p>And More! </p>
    <br>
    <label>Benefit eligibility may vary on employee location and role.</label>
    <br>

    <a class="greenButton" href="/pages/contact">Join us</a>
  </section>


</section>
