<section class="careers-page">

  <!-- <section class="codev-page__heroSection">
    <img src="{{ "codevHero.png" | asset_img_url: "1440x"}}" alt="Hero image" }}">
    <h1>Careers</h1>
  </section> -->

  {% section "hero-careers" %} 

  <section class="richTextSection">
    <h2>Join our team</h2>
    <p>AXIS-Y welcomes people of different backgrounds, experiences, abilities and perspectives. We look for people who are passionate about beauty, fashion and work to be a little better every single day. In our work together we aim to be smart, humble, hardworking and fun, above all, collaborative.</p>
  </section>

  <section class="twoLargeImagesSection">
    <div class="twoLargeImagesSection--wrapper">
      <div class="twoLargeImagesSection--image">    
            <img src="{{ "codevHero.png" | asset_img_url: "700x"}}" alt="Hero image">
      </div>
      <p> 
        <label>Above</label>
        A photo of our team
      </p>
    </div>
    <div class="twoLargeImagesSection--wrapper">
      <div class="twoLargeImagesSection--image">    
            <img src="{{ "codevHero.png" | asset_img_url: "700x"}}" alt="Hero image">
      </div>
      <p> 
        <label>Above</label>
        A photo of our team
      </p>
    </div>
  </section>


  <section class="careers-page__valuesSection">
    <h2>Our values</h2>
    <ul>
      <li>
        <img  src="{{ "Lotus_blk.jpg" | asset_img_url: "1000x" }}" />
        <div>
          <h4>one of our values</h4>
          <p>Boosts skins natural healing process asdas da das da d asd a a dassa </p>
        </div>
      </li>
      <li>
        <img  src="{{ "Lotus_blk.jpg" | asset_img_url: "1000x" }}" />
        <div>
          <h4>one of our values</h4>
          <p>Boosts skins natural healing process </p>
        </div>
      </li>
      <li>
        <img  src="{{ "Lotus_blk.jpg" | asset_img_url: "1000x" }}" />
        <div>
          <h4>one of our values</h4>
          <p>Boosts skins natural healing process </p>
        </div>
      </li>
      <li>
        <img  src="{{ "Lotus_blk.jpg" | asset_img_url: "1000x" }}" />
        <div>
          <h4>one of our values</h4>
          <p>Boosts skins natural healing process </p>
        </div>
      </li>
      <li>
        <img  src="{{ "Lotus_blk.jpg" | asset_img_url: "1000x" }}" />
        <div>
          <h4>one of our values</h4>
          <p>Boosts skins natural healing process asdasdsadsa das das da d</p>
        </div>
      </li>
      <li>
        <img  src="{{ "Lotus_blk.jpg" | asset_img_url: "1000x" }}" />
        <div>
          <h4>one of our values</h4>
          <p>Boosts skins natural healing process </p>
        </div>
      </li>
    </ul>
  </section>
  
  <section class="richTextSection">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <br/>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <button class="greenButton">Contact Us</button>
  </section>


</section>

