<section class="membershipFAQ-page">

  <h1>AXIS-Y Rewards</h1>
  <p class="membershipFAQ-page__description">AXIS-Y Rewards is our membership program that allows you to earn and save up points for every dollar you spend with us to apply to future discounts. AXIS-Y Rewards is another way for us to connect with and to give back to our community! Be sure to check back for more rewards and program updates!</p>
  <div class="membershipFAQ-page__button">
    <a class="greenButton" href="https://www.axis-y.com/pages/membership/#smile-home">Join our community</a>
  </div>
  
  
  <section class="membershipFAQ-page__section">
    <h2>Ways to earn</h2>

    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "HBD.png" | asset_img_url: "220x" }}" alt="Birthday rewards" >
      </div>
      <p>Celebrate a birthday</p>
      <span>200 Points</span>
    </div>
    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "IG.png" | asset_img_url: "220x" }}" alt="Instagram rewards" >
      </div>
      <p>Follow on Instagram</p>
      <span>100 Points</span>
    </div>
    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "Signup.png" | asset_img_url: "220x" }}" alt="Signup rewards" >
      </div>
      <p>Sign up</p>
      <span>50 Points</span>
    </div>
    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "shoppingBag.png" | asset_img_url: "220x" }}" alt="shopping bag rewards" >
      </div>
      <p>Place an order</p>
      <span>5 Points for every $1 spent</span>
    </div>

  </section>

  <section class="membershipFAQ-page__section">
    <h2>Ways to redeem</h2>

    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "money.png" | asset_img_url: "220x" }}" alt="money rewards" >
      </div>
      <p>Order discount</p>
      <span>100 Points = $1</span>
    </div>
  </section>

   <section class="membershipFAQ-page__section">
    <h2>Referrals</h2>

    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "money.png" | asset_img_url: "220x" }}" alt="money rewards" >
      </div>
      <p>They get</p>
      <span>$5 off coupon</span>
    </div>
    <div>
      <div class="membershipFAQ-page__section--img">
        <img src="{{ "money.png" | asset_img_url: "220x" }}" alt="money rewards" >
      </div>
      <p>You get</p>
      <span>$5 off coupon</span>
    </div>
  </section>

  <p class="membershipFAQ-page__description">Referrals allow you to share the love for AXIS-Y with a friend! If your friend completes a purchase through your referral, you will both earn a $5 coupon. Referrals can be done using your own custom URL or shared directly through email and social media.</p>
  <div class="membershipFAQ-page__button">
    <a class="greenButton" href="https://www.axis-y.com/pages/membership/#smile-home">Refer a friend</a>
  </div>

</section>
